.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    border: 1px solid var(--border-color);
    background: var(--footer-background);
    color: var(--footer-font);
    font-size: 14px;
  }
  
  .left-section,
  .right-section {
    display: flex;
  }
  
  .right-section {
    margin-right: 30px;
  }
  
  .footer-link {
    display: block;
    padding: 10px 0 10px 30px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }